/**
Variables
*/

// Background color for the banner
$banner-background-color: lightblue;

// Background color for the active navigation tab
$nav-active-background-color: blue;

// Text color for the active navigation tab
$nav-active-text-color: white;