$base-font-family: 'Arial', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-weight: normal;

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
}
