// Import component SCSS files
@import 'components/pricing-calculator'; // Import the SCSS file for the pricing calculator component
@import 'components/navigation'; // Import the SCSS file for the navigation component

// Import text-direction-specific SCSS files
@import './src/styles/ImportTextDirectionSCSS'; // Import SCSS files specific to text direction styles
@import '../variables/_variables'; // Import the SCSS file for variables
@import '../mixins/'; // Import the SCSS file for mixins
@import '../helper/_typography';
@import '../helper/_text-helpers';

/**
 * Base Styles
 */

/* Set the base font size for the HTML element */
html {
    font-size: $base-font-size;

    @media (min-width: 768px) {
        font-size: $base-font-size + 2px;
    }
}

/* Set the HTML element to have relative positioning and a minimum height of 100% */
html {
    position: relative;
    min-height: 100%;
}

/* Add a margin at the bottom of the body */
body {
    margin-bottom: 60px;
}

// Centered banner component
.center-banner {
    background: linear-gradient(to right, white, $banner-background-color); // Apply a linear gradient background to the centered banner
    text-align: center; // Center-align the text within the centered banner
    padding: 20px; // Add padding to the centered banner
    display: flex; // Use flexbox for centering items horizontally and vertically
    align-items: center; // Center-align the items vertically within the centered banner
    justify-content: center; // Center-align the items horizontally within the centered banner

}
